.nav {
    display: flex;
}

.nav__list {
    display: flex;
    list-style: none;
    gap: 4.5rem;
    align-items: center;
}

.nav__list-link:link,
.nav__list-link:visited {
    text-decoration: none;
    font-size: 1.6rem;
    color: var(--color-gray);
    letter-spacing: 0.5px;
    display: inline-block;
    position: relative;
    transition: all 0.2s ease-out;
}


.nav__list-item-hover-element {
  background-color: var(--color-red);
  width: 10px;
  height: 10px;
  position: absolute;
  border-radius: 3px;
  top: 50%;
  left: 0;
  transform: translate(-175%, -50%);
  opacity: 0;
  transition: all 0.2s ease-out;
}

.nav__list-link:hover,
.nav__list-link:active {
  color: var(--color-red);
}

.nav__list-link:hover .nav__list-item-hover-element,
.nav__list-link:active .nav__list-item-hover-element {
  opacity: 1;
}

.nav__button {
  display: none;
}