
.news__main-block {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}

.news__new-block {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
}

.news__reviews-block {
    grid-column: 1 / -1;
}

/**************************************************************************************/
/* Main Block */

.news__main-block-img {
    max-width: 100%;
}

.news__main-block-info-box {
    display: grid;
    grid-template-columns: 1.1fr  1fr;
    gap: 3.2rem;
    align-items: center;
    padding: 3rem 0;
}

.news__main-block-info-heading {
    font-weight: var(--extra-bold);
    line-height: var(--small-line-height);
    font-size: 5.6rem;
    letter-spacing: 1px;
}

.news__main-block-info-description {
    font-size: var(--p-font-size);
    color: var(--color-gray);
    line-height: var(--big-line-height);
    padding: 0 0 3.2rem 0;
}

.news__main-block-info-link:link,
.news__main-block-info-link:visited {
    background-color: var(--color-red);
    color: var(--color-white);
    text-decoration: none;
    display: inline-block;
    padding: 1.6rem 3.2rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: var(--bold);
    letter-spacing: 4px;
    transition: all 0.2s ease-in;
}

.news__main-block-info-link:hover,
.news__main-block-info-link:active {
    background-color: var(--color-red-dark);
}

/**************************************************************************************/
/* New Block */

.news__new-block {
    background-color: var(--color-very-dark-blue);
    padding: 2.5rem;
}

.news__new-block-heading {
    font-weight: var(--bold);
    color: var(--color-yellow-dark);
    font-size: 3.8rem;
    margin: 1.2rem 0  4.2rem 0;
}

.news__new-block-list {
    list-style: none;
}

.news__new-block-list-item {
    transition: all .3s ease-in-out;
} 

.news__new-block-list-item:hover,
.news__new-block-list-item:active {
  transform: translateY(-5px);
  cursor: pointer;
} 

.news__new-block-list-item-heading {
    color: var(--color-white);
    font-size: 1.8rem;
    letter-spacing: 0.5px;
    margin-bottom: 1rem;
}

.news__new-block-list-item-description {
    font-size: var(--p-font-size);
    color: var(--color-light-blue);
    line-height: var(--big-line-height);
    padding: 0 0 3.6rem 0;
    transition: all .2s ease-in-out;
}

.news__new-block-list-item-description--3 {
    padding: 0;
}

.news__new-block-list-item:not(:first-child) {
    border-top: 1px solid var(--color-gray);
    padding-top: 3.6rem;
}

.news__new-block-list  h3:hover.news__new-block-list-item-description,
.news__new-block-list p:hover.news__new-block-list-item-description {
    color: var(--color-2-light-blue);
}