@media only screen and (max-width: 76.875em) {
  html {
    font-size: 56.25%; /*9px*/
  }


  .news__reviews-block-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
 }

  .news__reviews-block-list-item {
    gap: 2rem;
  }
}

@media only screen and (max-width: 62.5em) {
  .main-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
  }

  .news__main-block {
    grid-column: 1 / -1;
    grid-row: 1 / 3;
  }

  .news__new-block {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }

  .news__reviews-block {
    grid-column: 2 / -1;
    grid-row: 3 / 4;
  }  

  /**************************************************************************************/
  /* Review Block */
  .news__reviews-block-list {
    grid-template-columns: 1fr;
    gap: 4.5rem;
  }
 
}



@media only screen and (max-width: 43.75em) {
  html {
    font-size: 50%; /*8px*/ 
  }

  .main-grid {
    grid-template-columns: 1fr;
  }

  .news__new-block {
    grid-column: 1 / -1;
    grid-row: 3 / 4;
  }

  .news__reviews-block {
    grid-column: 1 / -1;
    grid-row: 4 / 5;
  }  

  .nav__list-item-hover-element {
    transform: translate(-150%, -50%);
  }

  .nav__list {
    display: flex;
    list-style: none;
    gap: 3.5rem;
    align-items: center;
  }
  
  .news__main-block-info-box {
    display: grid;
    grid-template-columns:  1fr;
    gap: 3.2rem;
    align-self: center;
    align-items: center;
    padding: 3rem 0;
    margin: auto 0;
  } 

}

@media only screen and (max-width: 31.25em)  {
  .nav__list {
    display: none;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

  .news__main-block {
    grid-row: 1 / 4;
    grid-template-rows: repeat(2, 1fr);
  }

  .news__new-block {
    grid-row: 4 / 5;
  }

  .news__reviews-block {
    grid-row: 5 / 6;
  }  


}