@media only screen and (max-width: 76.875em) {
  html {
    font-size: 56.25%; /*9px*/
  }


  .news__reviews-block-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
 }

  .news__reviews-block-list-item {
    gap: 2rem;
  }
}

@media only screen and (max-width: 62.5em) {
  .main-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
  }

  .news__main-block {
    grid-column: 1 / -1;
    grid-row: 1 / 3;
  }

  .news__new-block {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }

  .news__reviews-block {
    grid-column: 2 / -1;
    grid-row: 3 / 4;
  }  

  /**************************************************************************************/
  /* Review Block */
  .news__reviews-block-list {
    grid-template-columns: 1fr;
    gap: 4.5rem;
  }
 
}