*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

html {
    font-size: 62.5%; /*10px*/
    overflow-x: hidden;
    scroll-behavior: smooth;
    visibility: inherit;
}

:root {
    --color-white: hsl(36, 100%, 99%);
    --color-grey: hsl(233, 8%, 79%);
    --color-gray: #555;
    --color-light-blue: #999;
    --color-2-light-blue: #bbb;
    --color-dark-blue: hsl(236, 13%, 42%);
    --color-very-dark-blue: hsl(240, 100%, 5%);
    --color-red: hsl(5, 85%, 63%);
    --color-red-dark: hsl(5, 85%, 55%);
    --color-yellow: hsl(35, 77%, 62%);
    --color-yellow-dark: #f2a652;
    --standard-padding: 0 2.5rem;
    --extra-bold: 800;
    --bold: 700;
    --normal: 400;
    --p-font-size: 1.5rem;
    --big-line-height: 1.6;
    --small-line-height: 1.1;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--color-white);
    overflow-x: hidden;
    position: relative;
    height: 100vh;
}

.main {
    background-color: var(--color-white);
}

.cont {
    max-width: 117rem;
    margin: 0 auto;
}

.hero {
    padding: var(--standard-padding);
}

.header {
    padding: 6rem 2.5rem;
}

.header-box {
    display: flex;
    justify-content: space-between;
}

.no-scroll {
    overflow-y: hidden;
}
